@import 'var';
@import 'reset';
body {
    font: $text-size 'Roboto', sans-serif;
    background: $bg-color;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $second-bg-color;
    z-index: 1001;
}
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: $primary-color;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item-2 {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: $brand-color;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes preloader-bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    transition: 0.3s opacity;
    display: none;
}
.wrapper {
    padding: $gap;
    min-height: 100vh;
    overflow-x: hidden;
    .header {
        height: $gap;
        position: fixed;
        background: $bg-color;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        .main-title {
            position: absolute;
            top: 43px;
            left: $gap;
            font-size: 18px;
            color: $header-text-color;
        }
        .theme {
            position: absolute;
            top: 43px;
            right: $gap;
        }
    }
    .menu {
        width: 56px;
        position: fixed;
        top: 50%;
        left: 54px;
        z-index: 20;
        .btn-burger {
            width: 48px;
            height: 31px;
            cursor: pointer;
            outline: none;
            border: none;
            background: none;
            transform: rotate(0deg) translateX(0px);
            transition: transform .5s ease-in-out;
            &-line {
                display: block;
                position: absolute;
                height: 5px;
                width: 100%;
                border: 1px solid $bg-color;
                background: $icon-color;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: transform .5s ease-in-out;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    transition: .7s ease-in-out;
                }
                &:nth-child(2) {
                    top: 13px;
                    left: 8px;
                    transition: .7s ease-in-out;
                }
                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                    transition: .7s ease-in-out;
                }
            }
        }
        // &:hover {
        //     .btn-burger-line {
        //         &:nth-child(1) {
        //             transform: rotate(-15deg) scaleX(1.05);
        //             top: -15px;
        //             left: 5px;
        //         }
        //         &:nth-child(2) {
        //             transform: rotate(0deg) scaleX(1.3);
        //             left: 20px;
        //         }
        //         &:nth-child(3) {
        //             transform: rotate(15deg) scaleX(1.05);
        //             bottom: -15px;
        //             left: 5px;
        //         }
        //     }
        // }
    }
    .sidenav {
        // display: none;
        display: flex;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 9;
        top: $gap;
        left: $gap;
        background: $second-bg-color;
        width: calc(50% - 80px);
        height: calc(100vh - 160px);
        transform: translateX(-100%);
        // transition: transform 2s, opacity 1s ease-in-out;
        transition: 1s ease-out;
        .nav {
            padding: 0 $gap;
            &-item {
                margin: 0 0 32px;
                &:nth-child(3) {
                    margin-bottom: $gap;
                }
            }
        }
        .phone {
            margin: 0 0 $gap;
        }
        .text-brand-color {
            margin: 0 0 16px;
        }
        .mail {
            .arrow {
                left: 140px;
            }
        }
    }
    .nav-item-link, .footer .mail {
        font-weight: 900;
        text-decoration: none;
        color: $main-text-color;
        background-image: linear-gradient(to right, $primary-color, transparent 100%);
        background-size: 0 100%;
        background-repeat: no-repeat;
        background-position: 8px 1em;
        transition: background .5s;
        &:hover {
            background-size: 100% 100%;
        }
    }
    .links {
        width: $gap;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
        &-item {
            margin: 0 0 16px;
            &-img {
                fill: $icon-color;
            }
            .linkedin {
                &:hover {
                    fill: #0073b2;
                }
            }
            .github {
                &:hover {
                    fill: #000;
                }
            }
            .fb {
                &:hover {
                    fill: #097bea;
                }
            }
        }
    }
    .hero {
        width: 100%;
        background: $primary-color;
        height: calc(100vh - 160px);
        margin: 0 0 $gap;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1.5s;
        &:before {
            content: "";
            width: 50%;
            background: $second-bg-color;
            height: calc(100vh - 160px);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            transition: opacity 4s, transform 2s;
        }
        &-text {
            position: relative;
            z-index: 9;
            transition: 1s 1s;
            .welcome-text {
                font-size: 80px;
                font-weight: 900;
                position: relative;
                .letter:nth-child(1) {
                    // transform: translateX(100%);
                    transition: 1s 1s;
                }
                .letter:nth-child(2) {
                    // transform: translateY(100%);
                    transition: 1s 1.1s;
                }
                .letter:nth-child(3) {
                    // transform: translateY(100%);
                    transition: 1s 1.2s;
                }
                .letter:nth-child(4) {
                    // transform: translateY(100%);
                    transition: 1s 1.3s;
                }
                .letter:nth-child(5) {
                    // transform: translateY(100%);
                    transition: 1s 1.4s;
                }
                .letter:nth-child(6) {
                    // transform: translateY(-100%);
                    transition: 1s 1.5s;
                }
                .dot {
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    color: $brand-color;
                }
            }
            .info {
                opacity: 0;
                display: none;
                // transform: translateX(-1000%);
                transition: 2s ease-in-out;
            }
        }
        &:hover {
            &:before {
                opacity: 0;
                transform: translateX(100%);
                transition: opacity 4s, transform 2s;
            }
            .info {
                // transform: translateX(0%);
                display: block;
                opacity: 1;
                transition: opacity 2s ease-in-out;
            }
            .welcome-text {
                opacity: 0;
                transform: translateX(100%);
                transition: transform 1s;
                display: none;
                .letter:nth-child(1) {
                    transform: translateX(100%);
                    transition: 1s 1s;
                }
                .letter:nth-child(2) {
                    transform: translateY(-100%);
                    transition: 1s 1.1s;
                }
                .letter:nth-child(3) {
                    transform: translateY(-100%);
                    transition: 1s 1.2s;
                }
                .letter:nth-child(4) {
                    transform: translateY(-100%);
                    transition: 1s 1.3s;
                }
                .letter:nth-child(5) {
                    transform: translateY(-100%);
                    transition: 1s 1.4s;
                }
                .letter:nth-child(6) {
                    // transform: translateY(-100%);
                    transition: 1s 1.5s;
                }
                .dot {
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    color: $brand-color;
                }
            }
        }
    }
    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 160px);
    }
    .img-1 {
        background-image: url(../img/laptop_coffee.png);
    }
    .skills-block {
        .skills {
            &-item {
                &:last-child {
                    margin: 0;
                }
                font-size: $text-size;
                margin: 0 0 32px;
                width: 30%;
                position: relative;
                &:after {
                    content: "";
                    width: 12px;
                    height: 12px;
                    // background-color: $brand-color;
                    border-radius: 6px;
                    position: absolute;
                    right: -15%;
                    bottom: 33%;
                    z-index: 5;
                    // display: block;
                    // transform: scaleX(1);
                    // transform-origin: left 0%;
                    // transition: width 250ms ease-in;
                    transform: translateX(0%);
                    background-image: linear-gradient(to right, $brand-color 0%, $brand-color 100%);
                    // background-size: 0 100%;
                    // background-repeat: no-repeat;
                    // background-position: 0 0;
                    // transition: background .5s, width 250ms ease-in;
                    transition: 1.5s ease-in 1s;
                }
            }
        }
        &:hover {
            .skills-item:after {
                // height: 12px;
                // width: 70%;
                // border-radius: 6px;
                // transform-origin: right 70%;
                // transition: width 250ms ease-in;
                transform: translateX(100%);
                // width: 70%;
                // background-size: 100% 100%;
                // transition: background .5s, width 250ms ease-in, transform .5s;
                transition: 1.1s ease-in-out;
            }
            .html-css:after {
                width: 100%;
            }
            .layout:after {
                width: 80%;
            }
            .bootstrap:after {
                width: 35%;
            }
            .jquery:after {
                width: 40%;
            }
            .preprocessors:after {
                width: 75%;
            }
            .gulp:after {
                width: 80%;
            }
            .git:after {
                width: 70%;
            }
        }
    }
    .box {
        background-color: $second-bg-color;
        margin: $gap 0;
        padding: $gap;
        color: $main-text-color;
        position: relative;
        .title {
            font-size: 80px;
            font-weight: 900;
            margin: 0 0 33px;
        }
    }
    .img-2 {
        background-image: url(../img/Rectangle-4.png);
        background-color: $primary-color;
    }
    .projects-block {
        background-color: $dark-bg-color;
        color: $light-text-color;
        .title {
            color: $primary-color;
            margin: 0 0 $gap;
        }
        .projects {
            &-item {
                margin: 0 0 $gap;
                .project {
                    margin: 0 0 32px;
                }
                .description {
                    margin: 0 0 16px;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        // display: none;
    }
    .text-brand-color {
        font-style: italic;
        font-size: 18px;
        color: $brand-color;
    }
    .text-dark-color {
        font-weight: 900;
        color: $dark-text-color;
    }
    .text-light-color {
        font-weight: 900;
        color: $light-text-color;
    }
    .experience-block {
        .title {
            margin: 0 0 $gap;
            .time {
                margin: 0 0 10px;
            }
            .place {
                margin: 0 0 8px;
            }
            .role {
                margin: 0 0 46px;
            }
        }
    }
    .link-arrow {
        position: relative;
        .arrow {
            position: absolute;
            bottom: 7px;
            right: -22px;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 $gap;
        .text-brand-color {
            margin: 0 0 8px;
        }
    }
    .mail {
        position: relative;
        text-decoration: none;
        .arrow {
            position: absolute;
            bottom: 11px;
            right: -40px;
        }
    }
    .phone {
        font-size: 18px;
    }
}
.active-burger {
    .sidenav {
        opacity: 1;
        transform: translateY(0%);
        transition: 2s ease-out;
        .nav {}
    }
    .menu {
        .btn-burger {
            position: relative;
            transform: translateX(-36px);
            transition: .5s ease-in-out;
            &-line {
                &:nth-child(1) {
                    top: 13px;
                    transform: rotate(135deg);
                    transition: .7s ease-in-out;
                }
                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                    transition: 1.1s ease-in-out;
                }
                &:nth-child(3) {
                    bottom: 13px;
                    transform: rotate(-135deg);
                    transition: .7s ease-in-out;
                }
            }
            &:hover {}
        }
    }
    .hero {
        transform: translateX(100%);
        width: 50%;
        &-text {
            transition: 1.5s;
        }
        &:before {
            // display: none;
            opacity: 0;
            transform: translateX(100%);
            transition: opacity 2s, transform 2s;
        }
        .info {
            display: block;
            opacity: 1;
            // transform: translateY(100%);
            transition: 2s ease-in-out;
            // margin: $gap;
            // overflow: hidden;
        }
        .welcome-text {
            opacity: 0;
            display: none;
        }
    }
}