@import 'var';
@import 'reset';
body {
    font: $text-size 'Roboto', sans-serif;
    background: $bg-color;
}
.wrapper {
    padding: $gap;
    min-height: 100vh;
    .header {
        height: $gap;
        position: fixed;
        background: $bg-color;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .theme {
            &:hover {}
            &:active {}
            &:focus {}
        }
        h1 {}
    }
    .menu {
        width: 56px;
        position: fixed;
        top: 50%;
        left: 54px;
        z-index: 10;
        .btn-burger {
            width: 48px;
            height: 31px;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            outline: none;
            border: none;
            background: none;
            &-line {
                display: block;
                position: absolute;
                height: 5px;
                width: 100%;
                background: $icon-color;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .4s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 13px;
                    left: 8px;
                }
                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                }
            }
            &:not(.open) {
                &:hover {
                    .btn-burger-line {
                        &:nth-child(1) {
                            transform: rotate(-15deg) scaleX(1.05);
                            top: -15px;
                            left: 5px;
                        }
                        &:nth-child(2) {
                            transform: rotate(0deg) scaleX(1.3);
                            left: 20px;
                        }
                        &:nth-child(3) {
                            transform: rotate(15deg) scaleX(1.05);
                            bottom: -15px;
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
    .open {
        .btn-burger {
            position: relative;
            left: -36px;
            &-line {
                &:nth-child(1) {
                    top: 13px;
                    transform: rotate(135deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }
                &:nth-child(3) {
                    top: 13px;
                    transform: rotate(-135deg);
                }
                &:hover {
                    translate: none;
                }
            }
        }
    }
    .links {
        width: $gap;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
        &-item {
            margin: 0 0 16px;
            a {
                svg {
                    fill: $icon-color;
                }
                &:hover {}
                &:active {}
                &:focus {}
            }
        }
    }
    .hero {
        width: 100%;
        background: $primary-color;
        height: calc(100vh - 160px);
        margin: 0 0 $gap;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "";
            width: 50%;
            background: $second-bg-color;
            height: calc(100vh - 160px);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            transition: opacity 4s, transform 2s;
        }
        &-text {
            position: relative;
            z-index: 10;
            .welcome-text {
                font-size: 80px;
                font-weight: 900;
                .dot {
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    color: $brand-color;
                }
            }
            .info {
                opacity: 0;
                display: none;
                span {}
            }
        }
        // &:hover {
        //     &:before {
        //         opacity: 0;
        //         transform: translateX(100%);
        //         transition: opacity 4s, transform 2s;
        //     }
        //     .info {
        //         display: block;
        //         opacity: 1;
        //     }
        //     .welcome-text {
        //         opacity: 0;
        //         display: none;
        //     }
        // }
    }
    .parallax {}
    .skills {
        .title {}
    }
    .projects {
        .title {}
    }
    .experience {
        .title {}
    }
    .footer {}
}