/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, *:before, *:after {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 32px "Roboto", sans-serif;
  background: #fff; }

.wrapper {
  padding: 80px;
  min-height: 100vh; }
  .wrapper .header {
    height: 80px;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; }
    .wrapper .header .main-title {
      position: absolute;
      top: 43px;
      left: 80px;
      font-size: 18px; }
    .wrapper .header .theme {
      position: absolute;
      top: 43px;
      right: 80px; }
  .wrapper .menu {
    width: 56px;
    position: fixed;
    top: 50%;
    left: 54px;
    z-index: 10; }
    .wrapper .menu .btn-burger {
      width: 48px;
      height: 31px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      outline: none;
      border: none;
      background: none; }
      .wrapper .menu .btn-burger-line {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #75715e;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .4s ease-in-out; }
        .wrapper .menu .btn-burger-line:nth-child(1) {
          top: 0px;
          left: 0; }
        .wrapper .menu .btn-burger-line:nth-child(2) {
          top: 13px;
          left: 8px; }
        .wrapper .menu .btn-burger-line:nth-child(3) {
          bottom: 0;
          left: 0; }
      .wrapper .menu .btn-burger:not(.open):hover .btn-burger-line:nth-child(1) {
        transform: rotate(-15deg) scaleX(1.05);
        top: -15px;
        left: 5px; }
      .wrapper .menu .btn-burger:not(.open):hover .btn-burger-line:nth-child(2) {
        transform: rotate(0deg) scaleX(1.3);
        left: 20px; }
      .wrapper .menu .btn-burger:not(.open):hover .btn-burger-line:nth-child(3) {
        transform: rotate(15deg) scaleX(1.05);
        bottom: -15px;
        left: 5px; }
  .wrapper .open .btn-burger {
    position: relative;
    left: -36px; }
    .wrapper .open .btn-burger-line:nth-child(1) {
      top: 13px;
      transform: rotate(135deg); }
    .wrapper .open .btn-burger-line:nth-child(2) {
      opacity: 0;
      left: -60px; }
    .wrapper .open .btn-burger-line:nth-child(3) {
      top: 13px;
      transform: rotate(-135deg); }
  .wrapper .links {
    width: 80px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5; }
    .wrapper .links-item {
      margin: 0 0 16px; }
      .wrapper .links-item a svg {
        fill: #75715e; }
  .wrapper .hero {
    width: 100%;
    background: #64c7e6;
    height: calc(100vh - 160px);
    margin: 0 0 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .wrapper .hero:before {
      content: "";
      width: 50%;
      background: #f5f5f5;
      height: calc(100vh - 160px);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
      transition: opacity 4s, transform 2s; }
    .wrapper .hero-text {
      position: relative;
      z-index: 9; }
      .wrapper .hero-text .welcome-text {
        font-size: 80px;
        font-weight: 900;
        position: relative; }
        .wrapper .hero-text .welcome-text .dot {
          display: inline-block;
          height: 14px;
          width: 14px;
          color: #f92672; }
      .wrapper .hero-text .info {
        opacity: 0;
        display: none; }
    .wrapper .hero:hover:before {
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 4s, transform 2s; }
    .wrapper .hero:hover .info {
      display: block;
      opacity: 1; }
    .wrapper .hero:hover .welcome-text {
      opacity: 0;
      display: none; }
  .wrapper .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 160px); }
  .wrapper .img-1 {
    background-image: url(../img/laptop_coffee.png); }
  .wrapper .skills-block .skills-item {
    font-size: 32px;
    margin: 0 0 32px;
    width: 440px;
    position: relative; }
    .wrapper .skills-block .skills-item:last-child {
      margin-bottom: 0; }
    .wrapper .skills-block .skills-item:after {
      content: "";
      width: 12px;
      height: 12px;
      background-color: #f92672;
      border-radius: 50%;
      position: absolute;
      right: 0;
      bottom: 50%;
      z-index: 5; }
  .wrapper .box {
    background-color: #f5f5f5;
    margin: 80px 0;
    padding: 80px;
    color: #272822;
    position: relative; }
    .wrapper .box .title {
      font-size: 80px;
      font-weight: 900;
      margin: 0 0 33px; }
  .wrapper .img-2 {
    background-image: url(../img/Group.png); }
