/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, *:before, *:after {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 32px "Roboto", sans-serif;
  background: #fff; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eefbff;
  z-index: 1001; }

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear; }

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #64c7e6;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out; }

.preloader__item-2 {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #f92672;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out; }

.preloader__item {
  top: auto;
  bottom: 0;
  animation-delay: -1s; }

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0; }

.loaded .preloader {
  transition: 0.3s opacity;
  display: none; }

.wrapper {
  padding: 80px;
  min-height: 100vh;
  overflow-x: hidden; }
  .wrapper .header {
    height: 80px;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; }
    .wrapper .header .main-title {
      position: absolute;
      top: 43px;
      left: 80px;
      font-size: 18px;
      color: #272822; }
    .wrapper .header .theme {
      position: absolute;
      top: 43px;
      right: 80px; }
  .wrapper .menu {
    width: 56px;
    position: fixed;
    top: 50%;
    left: 54px;
    z-index: 20; }
    .wrapper .menu .btn-burger {
      width: 48px;
      height: 31px;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
      transform: rotate(0deg) translateX(0px);
      transition: transform .5s ease-in-out; }
      .wrapper .menu .btn-burger-line {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        border: 1px solid #fff;
        background: #6f8186;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: transform .5s ease-in-out; }
        .wrapper .menu .btn-burger-line:nth-child(1) {
          top: 0;
          left: 0;
          transition: .7s ease-in-out; }
        .wrapper .menu .btn-burger-line:nth-child(2) {
          top: 13px;
          left: 8px;
          transition: .7s ease-in-out; }
        .wrapper .menu .btn-burger-line:nth-child(3) {
          bottom: 0;
          left: 0;
          transition: .7s ease-in-out; }
  .wrapper .sidenav {
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 9;
    top: 80px;
    left: 80px;
    background: #eefbff;
    width: calc(50% - 80px);
    height: calc(100vh - 160px);
    transform: translateX(-100%);
    transition: 1s ease-out; }
    .wrapper .sidenav .nav {
      padding: 0 80px; }
      .wrapper .sidenav .nav-item {
        margin: 0 0 32px; }
        .wrapper .sidenav .nav-item:nth-child(3) {
          margin-bottom: 80px; }
    .wrapper .sidenav .phone {
      margin: 0 0 80px; }
    .wrapper .sidenav .text-brand-color {
      margin: 0 0 16px; }
    .wrapper .sidenav .mail .arrow {
      left: 140px; }
  .wrapper .nav-item-link, .wrapper .footer .mail {
    font-weight: 900;
    text-decoration: none;
    color: #272822;
    background-image: linear-gradient(to right, #64c7e6, transparent 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 8px 1em;
    transition: background .5s; }
    .wrapper .nav-item-link:hover, .wrapper .footer .mail:hover {
      background-size: 100% 100%; }
  .wrapper .links {
    width: 80px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5; }
    .wrapper .links-item {
      margin: 0 0 16px; }
      .wrapper .links-item-img {
        fill: #6f8186; }
      .wrapper .links-item .linkedin:hover {
        fill: #0073b2; }
      .wrapper .links-item .github:hover {
        fill: #000; }
      .wrapper .links-item .fb:hover {
        fill: #097bea; }
  .wrapper .hero {
    width: 100%;
    background: #64c7e6;
    height: calc(100vh - 160px);
    margin: 0 0 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s; }
    .wrapper .hero:before {
      content: "";
      width: 50%;
      background: #eefbff;
      height: calc(100vh - 160px);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
      transition: opacity 4s, transform 2s; }
    .wrapper .hero-text {
      position: relative;
      z-index: 9;
      transition: 1s 1s; }
      .wrapper .hero-text .welcome-text {
        font-size: 80px;
        font-weight: 900;
        position: relative; }
        .wrapper .hero-text .welcome-text .letter:nth-child(1) {
          transition: 1s 1s; }
        .wrapper .hero-text .welcome-text .letter:nth-child(2) {
          transition: 1s 1.1s; }
        .wrapper .hero-text .welcome-text .letter:nth-child(3) {
          transition: 1s 1.2s; }
        .wrapper .hero-text .welcome-text .letter:nth-child(4) {
          transition: 1s 1.3s; }
        .wrapper .hero-text .welcome-text .letter:nth-child(5) {
          transition: 1s 1.4s; }
        .wrapper .hero-text .welcome-text .letter:nth-child(6) {
          transition: 1s 1.5s; }
        .wrapper .hero-text .welcome-text .dot {
          display: inline-block;
          height: 14px;
          width: 14px;
          color: #f92672; }
      .wrapper .hero-text .info {
        opacity: 0;
        display: none;
        transition: 2s ease-in-out; }
    .wrapper .hero:hover:before {
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 4s, transform 2s; }
    .wrapper .hero:hover .info {
      display: block;
      opacity: 1;
      transition: opacity 2s ease-in-out; }
    .wrapper .hero:hover .welcome-text {
      opacity: 0;
      transform: translateX(100%);
      transition: transform 1s;
      display: none; }
      .wrapper .hero:hover .welcome-text .letter:nth-child(1) {
        transform: translateX(100%);
        transition: 1s 1s; }
      .wrapper .hero:hover .welcome-text .letter:nth-child(2) {
        transform: translateY(-100%);
        transition: 1s 1.1s; }
      .wrapper .hero:hover .welcome-text .letter:nth-child(3) {
        transform: translateY(-100%);
        transition: 1s 1.2s; }
      .wrapper .hero:hover .welcome-text .letter:nth-child(4) {
        transform: translateY(-100%);
        transition: 1s 1.3s; }
      .wrapper .hero:hover .welcome-text .letter:nth-child(5) {
        transform: translateY(-100%);
        transition: 1s 1.4s; }
      .wrapper .hero:hover .welcome-text .letter:nth-child(6) {
        transition: 1s 1.5s; }
      .wrapper .hero:hover .welcome-text .dot {
        display: inline-block;
        height: 14px;
        width: 14px;
        color: #f92672; }
  .wrapper .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 160px); }
  .wrapper .img-1 {
    background-image: url(../img/laptop_coffee.png); }
  .wrapper .skills-block .skills-item {
    font-size: 32px;
    margin: 0 0 32px;
    width: 30%;
    position: relative; }
    .wrapper .skills-block .skills-item:last-child {
      margin: 0; }
    .wrapper .skills-block .skills-item:after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 6px;
      position: absolute;
      right: -15%;
      bottom: 33%;
      z-index: 5;
      transform: translateX(0%);
      background-image: linear-gradient(to right, #f92672 0%, #f92672 100%);
      transition: 1.5s ease-in 1s; }
  .wrapper .skills-block:hover .skills-item:after {
    transform: translateX(100%);
    transition: 1.1s ease-in-out; }
  .wrapper .skills-block:hover .html-css:after {
    width: 100%; }
  .wrapper .skills-block:hover .layout:after {
    width: 80%; }
  .wrapper .skills-block:hover .bootstrap:after {
    width: 35%; }
  .wrapper .skills-block:hover .jquery:after {
    width: 40%; }
  .wrapper .skills-block:hover .preprocessors:after {
    width: 75%; }
  .wrapper .skills-block:hover .gulp:after {
    width: 80%; }
  .wrapper .skills-block:hover .git:after {
    width: 70%; }
  .wrapper .box {
    background-color: #eefbff;
    margin: 80px 0;
    padding: 80px;
    color: #272822;
    position: relative; }
    .wrapper .box .title {
      font-size: 80px;
      font-weight: 900;
      margin: 0 0 33px; }
  .wrapper .img-2 {
    background-image: url(../img/Rectangle-4.png);
    background-color: #64c7e6; }
  .wrapper .projects-block {
    background-color: #484e50;
    color: #f5f5f5; }
    .wrapper .projects-block .title {
      color: #64c7e6;
      margin: 0 0 80px; }
    .wrapper .projects-block .projects-item {
      margin: 0 0 80px; }
      .wrapper .projects-block .projects-item .project {
        margin: 0 0 32px; }
      .wrapper .projects-block .projects-item .description {
        margin: 0 0 16px; }
      .wrapper .projects-block .projects-item:last-child {
        margin: 0; }
  .wrapper .text-brand-color {
    font-style: italic;
    font-size: 18px;
    color: #f92672; }
  .wrapper .text-dark-color {
    font-weight: 900;
    color: #000; }
  .wrapper .text-light-color {
    font-weight: 900;
    color: #f5f5f5; }
  .wrapper .experience-block .title {
    margin: 0 0 80px; }
    .wrapper .experience-block .title .time {
      margin: 0 0 10px; }
    .wrapper .experience-block .title .place {
      margin: 0 0 8px; }
    .wrapper .experience-block .title .role {
      margin: 0 0 46px; }
  .wrapper .link-arrow {
    position: relative; }
    .wrapper .link-arrow .arrow {
      position: absolute;
      bottom: 7px;
      right: -22px; }
  .wrapper .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 80px; }
    .wrapper .footer .text-brand-color {
      margin: 0 0 8px; }
  .wrapper .mail {
    position: relative;
    text-decoration: none; }
    .wrapper .mail .arrow {
      position: absolute;
      bottom: 11px;
      right: -40px; }
  .wrapper .phone {
    font-size: 18px; }

.active-burger .sidenav {
  opacity: 1;
  transform: translateY(0%);
  transition: 2s ease-out; }

.active-burger .menu .btn-burger {
  position: relative;
  transform: translateX(-36px);
  transition: .5s ease-in-out; }
  .active-burger .menu .btn-burger-line:nth-child(1) {
    top: 13px;
    transform: rotate(135deg);
    transition: .7s ease-in-out; }
  .active-burger .menu .btn-burger-line:nth-child(2) {
    opacity: 0;
    left: -60px;
    transition: 1.1s ease-in-out; }
  .active-burger .menu .btn-burger-line:nth-child(3) {
    bottom: 13px;
    transform: rotate(-135deg);
    transition: .7s ease-in-out; }

.active-burger .hero {
  transform: translateX(100%);
  width: 50%; }
  .active-burger .hero-text {
    transition: 1.5s; }
  .active-burger .hero:before {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 2s, transform 2s; }
  .active-burger .hero .info {
    display: block;
    opacity: 1;
    transition: 2s ease-in-out; }
  .active-burger .hero .welcome-text {
    opacity: 0;
    display: none; }
